#weather
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    background-color: #a4ff88
    min-height: 100vh
    .box
        background-color: #ffffff
        padding: 40px 60px
        border-radius: 20px
        box-shadow: 20px 20px #9b9b9b
        h1
            font-weight: 700
            font-size: 25px
        h2
            font-size: 30px
            margin: 10px 0
            text-decoration: underline
        h3
            font-size: 35px
        input
            border: 1px solid #000000
            margin: 10px 0
        #btn
            background-color: #5ec23f
            padding: 15px
            border-radius: 20px
            width: 120px
            margin-left: 65px
            &:hover
                background-color: #9b9b9b
